[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pymupdf = "*"
tqdm = "*"
pandas = "*"
spacy = "*"
sentence-transformers = "*"
transformers = "*"
huggingface = "*"
numpy = "*"
pyarrow = "*"
fastparquet = "*"
safetensors = "*"
chromadb = "*"
setuptools = "*"
wheel = "*"
packaging = "*"
ninja = "*"
bitsandbytes = "*"
streamlit = "*"
chainlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
